Repository Bruno1405/devops-aula07, pull requests merged in 2018-09, with the labels that each got.

#5 V1.0 arquitetura
  docs/arquitetura.md
Labels: Arquitetura

#2 Create requisitos.md
  docs/requisitos.md
Labels: Análise

#8 V1.0 programacao
  src/jogovelha.py
Labels: Programação

#11 V1.0 testes
  src/testes_inic.py
  src/testes_jogar.py
Labels: Testes

#12 Gerar release v1.0
  src/testes_inic.py
  src/testes_jogar.py
Labels: Operações

#19 v.1.1 - Especificação validade das jogadas
  docs/especificacao.md
  especificacao.md
  src/jogovelha.py
Labels: Análise

#20 V1.1 arquitetura
  docs/arquitetura.md
Labels: Arquitetura

#21 Create programacao_jogada.py
  src/programacao_jogada.py
Labels: Programação

#22 Create testenivel1
  src/testenivel1
Labels: Testes

#24 Create finalizacao.md
  docs/finalizacao.md
Labels: Finalização
